/* unordered list style and format*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dad5d5;
}

/* adding a backgorund*/

body {
    background-image: url(/img/pic5.jpg);
}

/* to make the list centered*/

li {
    float: center;
}

/* tag 'a' for the list format*/

li a {
    display: block;
    color: rgba(163, 41, 41, 0.781);
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

/* to enable the hover function for the list*/

li a:hover {
    background-color: #fcfcfc;
}